.container {
  font-size: 16px;
}

.headerText {
  font-size: 1.2em;
  font-weight: 600;
}

.userContainer {
  margin-top: 32px;
  height: 100%;
  overflow: auto;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 24px;
  padding-bottom: 16px;
  background-color: #fff;
  width: 100%;
}
