.error-title {
  margin: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 10px;
}

.error-code {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 50px;
}
