  .container__buttonContainer{
  width: 150px;
  display: flex;
  justify-content: space-between;
  bottom: 10px;
  right: 50px;
  position: absolute
}
.container--Accordion--buttonContaier{
  width: 150px;
  display: flex;
  justify-content: space-between;
  bottom: 10px;
  right: 50px;
  position: absolute;
}
.container--ConfirmationPopup__Dialogbox--buttonContainer{
  width: 150px;
  display: flex;
  justify-content: space-between;
  bottom: 10px;
  right: 50px;
  position: absolute
}
.css-15v22id-MuiAccordionDetails-root{
  padding: 0;
}