$PRIMARY_BLACK: #333333;
$SECONDARY_BLACK: #666666;
$TERTIARY_BLACK: #8c8c8c;
$PRIMARY_GREY: #bfbfbf;
$SECONDARY_GREY: #e6e6e6;
$TERTIARY_GREY: #f2f2f2;
$WHITE: #ffffff;
$PRIMARY_BUTTON: #0099cc;
$SECONDARY_BUTTON: #008ab9;
$TERTIARY_BUTTON: #b2e0f0;
$RED: #e94545;
$ORANGE: #f2994a;
$GREEN: #219653;
$BLUE: #2f80ed;
$RATING_ORANGE: #f2c94c;
$YELLOW: #fdffd0;
$RED_TINT: $RED + b3;
$ORANGE_TINT: $ORANGE + b3;
$GREEN_TINT: $GREEN + b3;
$BLUE_TINT: $BLUE + b3;
$BUTTON_HOVER: #008ab8;
$WARNING_BACKGROUND_COLOR: #e94545;
$ERROR_COLOR: '#d32f2f';
